@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column !important;
        flex-direction: column-reverse !important;
    }

    .left-content {
        flex-direction: row !important;
        width: 100% !important;
        height: 60px !important;
        min-height: unset !important;
        justify-content: space-around !important;
        border-right: none !important;
        border-top: 1px solid #a2a2a2 !important;
        padding-left: 0px !important;
        gap: 0px;
        align-items: center !important;
        padding-top: 5px;
        padding-bottom: 5px;
        position: fixed;
        bottom: 0;
        z-index: 1000;
    }

    .right-content {
        margin-bottom: 100px !important;
    }

    .section-button {
        margin-top: 5px !important;
    }

    .section-button .icon {
        width: 25px !important;
        height: 25px !important;
    }

    .profile-picture-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ddd;
        margin: 0px !important;
        margin-bottom: 5px !important;
    }
    
    .section-button .profile-picture {
        width: 44px;
        height: 44px;
    }

    .profile-popup {
        left: -430% !important;
    }

    .section-title {
        flex-direction: row-reverse !important;
        place-content: space-around;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .section-button p {
        margin: 0px !important;
        margin-bottom: 5px !important;
        font-size: 12px !important;
    }

    .section-title p {
        font-size: 20px !important;
    }
}

body {
    background-color: #f5f5f5;      
}

.main-content {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    min-width: 100%;
}

.left-content {
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    gap: 30px;
    width: 100px;
    min-height: 100vh;
    background-color: white;
    align-items: baseline;
    font-size: 14px;
    border-right: 1px solid #a2a2a2;
}

.right-content {
    width: 100%;
    min-height: 100vh;
}

.section-title {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 100%;
    background-color: #2ead80;
    margin: 0px;
    align-items: center;
}

.section-title p {
    color: white;
    font-weight: 400;
    font-size: 24px;
}

.home-profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 30px;
    margin-right: 20px;
    border: 2px solid #ddd;
}

.section-button {
    color: #a2a2a2;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 300;
    margin-top: 70px;
    align-items: center;
    cursor: pointer;
    width: 50px;
}

.icon {
    width: 30px;
    height: 30px;
    filter: invert(77%) sepia(0%) saturate(8%) hue-rotate(197deg) brightness(85%) contrast(86%)
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-picture-container {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.section-title-p {
    margin-left: 30px;
}

.profile-popup {
    position: absolute;
    top: -60%;
    left: 100%;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px 0;
    z-index: 100;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.menu-spinner {
    width: 25px;
    height: 25px;
    border: 5px solid lightgray;
    border-top: 5px solid #2ead80;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  