.logout-button {
    border-radius: 4px;
    background-color: white;
    border: 1px solid;
    border-color: #49a0ff;
    color: #49a0ff;
    cursor: pointer;
    height: 30px;
    width: 100px;
    margin-top: 30px;
  }

  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
  }
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid lightgray;
    border-top: 5px solid #2ead80;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  